:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 50px;
  --color-dark: #000;
  --color-light: #fff;
}

/* img {
  border-radius: 4px;
} */

@font-face {
  font-family: 'regular-font';
  src: url('font-regular.otf') format('opentype');
}

@font-face {
  font-family: 'bold-font';
  src: url('bold-font.otf') format('opentype');
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header p {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header p {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  z-index: 5;
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  font-size: 0.75rem;
  font-family: 'regular-font';
  border-bottom: 1px solid #ccc;
  border-right: none;
}
.header-left,
.header-right {
  flex: 1;
}

.header-center {
  flex: 2;
}

.header-catalog-submenu-container {
  display: flex;
  gap: 1rem;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  justify-content: center;

  @media (min-width: 45em) {
    display: flex;
    margin-left: auto;
  }
}

.header-menu-item {
  cursor: pointer;
  position: relative;
  padding-left: 17px;
}
.header-menu-item::before {
  content: ''; /* Ensures the pseudo-element has content */
  position: absolute; /* Position relative to the p */
  top: 47%; /* Positions the bullet vertically centered */
  left: 0; /* Positions the bullet on the left of the p */
  transform: translateY(-50%); /* Adjusts vertical alignment */
  width: 9px; /* Diameter of the bullet */
  height: 9px; /* Diameter of the bullet */
  border: 1px solid black;
  border-radius: 50%; /* Makes the bullet circular */
  background-color: white; /* Color of the bullet */
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  justify-content: flex-end;
}
.shop-name {
  font-family: 'bold-font';
  font-size: 0.75rem;
}
.shop-name-mobile {
  font-size: 0.75rem;
  font-family: 'regular-font';
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  margin-top: auto;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-areas: 'brand support newsletter';
  grid-auto-columns: 1fr;
}
.footer-mobile {
  margin-top: auto;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-areas:
    'newsletter newsletter'
    'brand support';
  grid-auto-columns: 1fr;
}
.brand-footer {
  grid-area: brand;
  border: 1px solid #eaeaea;
  height: 100%;
}
.support-footer {
  grid-area: support;
  border: 1px solid #eaeaea;
  height: 100%;
}
.newsletter-footer {
  grid-area: newsletter;
  border: 1px solid #eaeaea;
  height: 100%;
}
.footer-title-container {
  border-bottom: 1px solid #eaeaea;
}
.footer-title {
  font-size: 0.75rem;
  font-family: 'regular-font';
  position: relative;
  padding-left: 15px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer-title::before {
  content: '';
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
.footer-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-family: 'regular-font';
  justify-content: space-between;
  height: calc(100% - 2rem - var(--header-height));
  padding-block: 1rem;
}
.brand-list {
  display: flex;
  flex-direction: column;
}
.site-credit-mobile {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.site-credit > a,
.site-credit-mobile > a {
  text-decoration: underline;
}
.site-credit > a,
.site-credit > p,
.site-credit-mobile > a,
.site-credit-mobile > p {
  font-size: 0.75rem;
  font-family: 'regular-font';
  color: #c2c2c2;
}
.brand-list > a,
.support-content-footer > a {
  margin-bottom: 0.6rem;
}
.support-content-footer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-family: 'regular-font';
  border-right: 1px solid #eaeaea;
}
.newsletter-content-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - var(--header-height));
}
.newsletter-image-container,
.newsletter-image-container-mobile {
  margin: 1rem;
  overflow: hidden;
}
.newsletter-image-container > img {
  /* width: 100%; */
  aspect-ratio: 1/1.4;
  object-fit: cover;
  object-position: 50% 30%;
}
.newsletter-image-container-mobile > img {
  object-fit: cover;
  object-position: 50% 30%;
  aspect-ratio: auto;
}
.newsletter-form-footer > p,
.newsletter-form-footer-mobile > p {
  font-size: 0.75rem;
  font-family: 'regular-font';
}
.newsletter-form-footer {
  margin-bottom: 3%;
  margin-left: 1rem;
}
.newsletter-form-footer-mobile {
  margin-left: 1rem;
  margin-bottom: 12%;
  margin-right: 1rem;
}
.newsletter-input-container {
  width: 97% !important;
  max-width: 97% !important;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2%;
  margin-left: 0;
  background: transparent;
}
.newsletter-input-container-mobile {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2%;
  margin-left: 0;
  background: transparent;
  width: 100% !important;
  max-width: 100% !important;
}

.newsletter-input-container > input,
.newsletter-input-container-mobile > input {
  width: 70%;
  border: none;
  outline: none;
  font-family: 'regular-font';
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.newsletter-input-container > button,
.newsletter-input-container-mobile > button {
  white-space: nowrap;
  cursor: pointer;
  background: none;
  color: black;
  border: none;
  padding: 0;
  width: fit-content;
  font-family: 'regular-font';
  font-size: 0.75rem;
}
/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result p {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.home {
  display: grid;
  grid-template-areas:
    'new-arrival-markup new-arrival-img new-arrival-img'
    'featured-products featured-products featured-products';
  grid-auto-columns: 1fr;
}
.home-mobile {
  display: grid;
  grid-template-areas: 'new-arrivals-mobile new-arrivals-mobile';
  grid-template-columns: repeat(2, 1fr);
}
.mobile-new-arrivals {
  grid-area: new-arrivals-mobile;
}
.new-arrivals-container {
  grid-area: new-arrival-markup;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  border: 1px solid #eaeaea;
  border-bottom: none;
}
.new-arrivals-container > p {
  font-size: 0.75rem;
  font-family: 'regular-font';
  position: relative; /* Ensures positioning context for ::before pseudo-element */
  padding-left: 15px; /* Adds space on the left for the bullet */
  margin-top: 3%;
}
.new-arrivals-container > p::before {
  content: ''; /* Ensures the pseudo-element has content */
  position: absolute; /* Position relative to the p */
  top: 47%; /* Positions the bullet vertically centered */
  left: 0; /* Positions the bullet on the left of the p */
  transform: translateY(-50%); /* Adjusts vertical alignment */
  width: 10px; /* Diameter of the bullet */
  height: 10px; /* Diameter of the bullet */
  border-radius: 50%; /* Makes the bullet circular */
  background-color: black; /* Color of the bullet */
}
.new-arrivals-container > p {
  margin-bottom: 5%;
  font-size: 0.75rem;
  font-family: 'regular-font';
}
.new-arrivals-text {
  margin-bottom: 4%;
}
.mobile-new-arrivals-text {
  margin-left: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
}
.new-arrivals-text > p {
  margin-bottom: 2%;
}

.new-arrivals-text > p,
.new-arrivals-text > a,
.mobile-new-arrivals-text > p,
.mobile-new-arrivals-text > a {
  font-size: 0.75rem;
  font-family: 'regular-font';
  width: 90%;
}
.new-arrivals-text > a,
.mobile-new-arrivals-text > a {
  text-decoration: underline;
}
.new-arrivals-collection {
  /* display: block;
  margin-bottom: 2rem;
  position: relative; */
  grid-area: new-arrival-img;
}

.new-arrivals-collection-image {
  display: block;
  height: auto;
  max-height: calc(100vh - var(--header-height));
  object-fit: cover;
  aspect-ratio: 1 / 1;

  @media (min-width: 44em) {
    aspect-ratio: 16 / 9;
  }
}
.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
}
.subgrid-mobile {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}
.title-container {
  position: sticky;
  top: var(--header-height);
  background: white;
  grid-column: span 3;
  z-index: 2;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.title-container-mobile {
  position: sticky;
  top: var(--header-height);
  background: white;
  grid-column: span 2;
  z-index: 2;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.title {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-family: 'regular-font';
  position: relative;
  padding-left: 15px;
}

.title::before {
  content: ''; /* Ensures the pseudo-element has content */
  position: absolute; /* Position relative to the p */
  top: 47%; /* Positions the bullet vertically centered */
  left: 0; /* Positions the bullet on the left of the p */
  transform: translateY(-50%); /* Adjusts vertical alignment */
  width: 10px; /* Diameter of the bullet */
  height: 10px; /* Diameter of the bullet */
  border-radius: 50%; /* Makes the bullet circular */
  background-color: black; /* Color of the bullet */
}
.main-featured-product {
  grid-column: span 2;
  grid-row: 5;
  border-block: 1px solid #eaeaea;
}
.main-featured-product:hover {
  text-decoration: none;
}
.featured-product {
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
}
.featured-product:nth-of-type(n + 4) {
  /* border-top: 1px solid #eaeaea; */
  border-bottom: none;
}
.product-details-container {
  display: flex;
  justify-content: space-between;
}
.product-details-container-mobile {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.featured-product:hover {
  text-decoration: none !important;
}
.product-color-variants {
  margin-right: 5%;
  font-size: 0.75rem;
  font-family: 'regular-font';
  margin-top: 1%;
  margin-bottom: 3%;
}
.product-color-variants > p {
  color: #d3d3d3;
  font-size: 0.75rem;
  font-family: 'regular-font';
}
.main-featured-product img,
.featured-product img {
  height: auto;
  background-color: #f4f4f4;
}
.product-title-price {
  margin-left: 5%;
  font-size: 0.75rem;
  font-family: 'regular-font';
  margin-top: 1%;
  margin-bottom: 3%;
}
.product-title-price-mobile {
  font-size: 0.75rem;
  font-family: 'regular-font';
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 0%;
}
.product-title-description {
  margin-left: 5%;
  font-size: 0.75rem;
  font-family: 'regular-font';
  margin-top: 1%;
  margin-bottom: 3%;
}
.product-title-description-mobile {
  font-size: 0.75rem;
  font-family: 'regular-font';
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-title-price > p,
.product-title-price > small,
.product-title-price-mobile > p,
.product-title-price-mobile > small,
.product-title-description > p,
.product-title-description-mobile > p {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
  font-size: 0.75rem;
  font-family: 'regular-font';
}
/* .categories-title-container {
  position: sticky;
  top: var(--header-height);
  background: white;
  z-index: 3;
  grid-column: span 3;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.category {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  font-family: 'regular-font';
  position: relative;
  padding-left: 15px;
}
.category::before {
  content: '';
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
} */
.category-collection {
  position: relative;
  width: 100%;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.category-collection-mobile {
  position: relative;
  width: 100%;
  grid-column: span 2;
  border-bottom: none;
  border-top: none;
}
.category-collection > p,
.category-collection-mobile > p {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #f4f4f4;
}
.category-image {
  display: block;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none !important;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product p {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}
